<h2>Celebrity Details</h2>

<h3>{{celebrity.name}}</h3>
<h5>Occupation: {{celebrity.occupation}}</h5>
<p>{{celebrity.catchPhrase}}</p>

<br><br><br>
<a href="/celebrity/{{celebrity._id}}/edit">
    Edit This Celebrity
</a>

<br><br><br>
<form action="/celebrity/{{celebrity._id}}/delete" method="POST">
    <button>Delete This Celebrity</button>
</form>

<br>
<br>
<a href="/">Return Home</a> |
<a href="/celebrities">Back to Celebrities</a>