<h1>Edit Movie</h1>

{{!-- when you are talking about the name of your model views and controllers --}}
{{!-- thats called a resource --}}
{{!-- so pokemon is our resource in this example --}}
<form action="/movie/{{theMovie._id}}/update" method="POST" enctype="multipart/form-data">

<div>
    Title: 
    <input type="text" name="movieTitle" value="{{theMovie.title}}">
</div>

<div>
    Genre: 
    <input type="text" name="movieGenre" value="{{theMovie.genre}}">
</div>

<div>
    Plot: 
    <input type="text" name="moviePlot" value="{{theMovie.plot}}">
</div>

<div>
    Cast: 

    <select name="theCast">
        {{#each cast}}

            {{#if cast.matchesMovie}}
                <option value="{{this._id}}" selected>{{this.name}}</option>
            {{else}}
                <option value="{{this._id}}" selected>{{this.name}}</option>
            {{/if}}

        {{/each}}
    </select>
</div>

<a href="#" id="uploadNew">Click Here to Upload a New Image for this Movie</a>
<div id="imgInput">
    Image: 
    <input type="file" name="img">
</div>


<button>Save</button>


</form>

<br>
<br>
<a href="/">Return Home</a>

<script src="/javascripts/editMovie.js"></script>