<h2>Movie Details</h2>

<h3>{{theMovie.title}}</h3>
<h5>Genre: {{theMovie.genre}}</h5>
<p>{{theMovie.plot}}</p>
<div>
    Cast: {{theMovie.cast.name}} <br>
    Occupation: {{theMovie.cast.occupation}} <br>
    Catch Phrase: {{theMovie.cast.catchPhrase}}
</div>
<img src="{{theMovie.img}}" style="width: 300px">

<br><br><br>
<a href="/movie/{{theMovie._id}}/edit">
    Edit This Movie
</a>

<br><br><br>
<form action="/movie/{{theMovie._id}}/delete" method="POST">
    <button>Delete This Movie</button>
</form>

<br>
<br>
<a href="/">Return Home</a> |
<a href="/movies">Back to Movies</a>